<%- include('ui/header', {tituloweb: 'CRM Inicio Sesion'}); %>

<div class="login">
    <h2>Iniciar Sesi贸n</h2>
    <div class="contenedor-formulario">
        <form action="" method="POST">

            <div class="campo">
                <label>Email</label>
                <input type="text" name="email" placeholder="Email para Iniciar Sesi贸n"/>
            </div>

            <div class="campo">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password para Iniciar Sesi贸n"/>
            </div>

            <input type="submit" value="Iniciar Sesi贸n" class="btn btn-verde btn-block" />

        </form>
    </div>
</div>

<%- include('ui/footer'); %>
